/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
    width: 100%;
    height: 100vh;
    /*border: 1px solid #000;*/
}

.pagesection {
    width: 100%;
    height: 670px;
    /*border: 1px solid #000;*/
}

#topsection {
    background: linear-gradient(to right, rgba(9, 5, 47, .95), rgba(49, 29, 94, .9)),
    url("../img/header-bg-1600x670.jpg");
    background-size: cover;
}

.box960 {
    width: 960px;
    /*
    Center the box in the middle
    of the screen horizontally
*/
    margin: 0 auto;
    /*border: 1px solid black;*/
}

#header {
    width: 100%;
    height: 90px;
    /*border: 1px solid #000;*/
}

#header > a {
    display: block;
    float: left;
    width: 23%;
    height: 72px;
    padding: 18px 0 0 18px;
    /*border: 1px solid #000;*/
}

#header > nav {
    float: right;
    width: 74%;
    height: 72px;
    padding: 18px 0 0;
    /*border: 1px solid #000;*/
}

#header > nav > ul {
    float: right;
    padding: 0;
    width: 100%;
    height: 20px;
    text-align: right;
    /*border: 1px solid #000;*/
}

#header > nav > ul > li {
    display: inline;
    margin: 8px;
    text-decoration: none;
    /*border: 1px solid #000;*/
}

#header > nav > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 10pt;
    font-weight: bold;
}

#header > nav > ul > li > a:hover,
#header > nav > ul > li > a.active {
    color: #00e0d0;
    font-weight: bold;
}

.carousel {
    width: 90%;
    height: 400px;
    padding: 100px 55px 0 55px;
    /*border: 1px solid #000;*/
}

.separator {
    width: 50px;
    height: 1px;
    margin: 20px auto;
    border-top: 1px solid #00e0d0;
}

.bluebtn {
    display: block;
    width: 120px;
    height: 40px;
    margin: 50px auto;
    line-height: 40px;
    color: #00e0d0;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.bluebtn:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.onwhite:hover {
    color: #2A1D51;
    border: 1px solid #2A1D51;;
}

.carousel > h1,
.carousel > p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FFF;
}

.carousel-controls {
    width: 90px;
    height: 30px;
    margin: 0 auto;
}

.carousel-controls > ul {
    margin: 0 auto;
    padding: 0;
}

.carousel-controls ul > li {
    display: inline;
    text-decoration: none;
}

.carousel-controls ul > li > a {
    float: left;
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid #00e0d0;
    border-radius: 50px;
}

.carousel-controls ul > li > a:hover,
.carousel-controls ul > li > a.active {
    border: 1px solid #00e0d0;
    background-color: #00e0d0;
}

#aboutsection {
    width: 100%;
    height: 952px;
}

#abouttop {
    height: 402px;
    box-sizing: border-box;
}

#aboutimage {
    float: left;
    width: 410px;
}

#aboutimage > img {
    padding: 0 0 0 70px;
}

#aboutcontent {
    float: left;
    width: 550px;
}

#aboutcontent > h2 {
    margin: 0;
}

#aboutcontent .bluebtn {
    float: left;
    margin: 0;
}

#aboutbottom {
    height: 550px;
    background: linear-gradient(to right, rgba(9, 5, 47, .95), rgba(49, 29, 94, .9)),
    url("../img/about-bg-1600x550.jpg");
    background-size: cover;
    box-sizing: border-box;
}

#play-div {
    width: 17%;
    margin: 0 auto;
    padding: 202px 0 0 0;
}

#play-div > img {
    display: block;
    margin: auto;
}

#play-div > img:hover {
    -webkit-filter: opacity(.3);
    filter: opacity(.3);
}

#play-div > p {
    color: white;
    text-align: center;
    margin-top: 34px;
}

#expertisesection {
    height: 754px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.section-padding {
    padding: 71px 0 0 0;
}

.p-header {
    margin: 10px 0 0 0;
}

.h2-header {
    margin: 0;
}

#expertisesection > div.box960 > div.separator {
    border-top: 1px solid #c6c4c9;
    margin-bottom: 0;
}

.table {
    margin: 48px 10px 0 10px;
    text-align: center;
}

div.table .tablecell {
    display: inline-block;
    width: 32%;
    height: 250px;
    padding: 40px 32px;
    box-sizing: border-box;
}

.rightborder {
    border-right: 1px solid #ebebeb;
}

div.table > hr {
    margin: 0;
    border-top: 1px solid #ebebeb;
}

div.table .tablecell > h5 {
    margin-top: 35px;
}

#teamsection {
    height: 712px;
    background: linear-gradient(to right, rgba(9, 5, 47, .95), rgba(49, 29, 94, .9)),
    url("../img/team-bg-1600x712.jpg");
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
}

#teamsection .p-header,
#teamsection .h2-header {
    color: white;
}

#teamsection > div.box960 > div.separator {
    border-top: 1px solid #c6c4c9;
    margin-bottom: 0;
}

#team.table {
    margin-bottom: 70px;
}

.member {
    display: inline-block;
    margin-right: 11px;
}

.member-img {
    width: 220px;
    height: 230px;
    background-color: white;
}

.member-desc {
    color: white;
    height: 78px;
    border: 1px solid #c6c4c9;
    padding-top: 20px;
    box-sizing: border-box;
}

.member-desc > h5 {
    margin: 0;
}

.teamtitle {
    font-weight: normal;
    color: #c6c4c9;
    padding-top: 10px;
}

#teamsection > div.box960 > p {
    color: white;
    margin: 0;
}

#teamsection > div.box960 > a.bluebtn {
    margin: 25px auto 0 auto;
}

#worksection {
    height: 737px;
    width: 100%;
    box-sizing: border-box;
}

#workheader {
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.aligncenter {
    margin: 0 auto;
}

.worktable {
    width: 100%;
    height: 400px;
    margin: 70px 0 0 0;
}

.workcell {
    width: 16.66%;
    height: 200px;
    float: left;
    background-color: #00e0d0;
}

.gray1 {
    background-color: #b6b6b6;
}

.gray2 {
    background-color: #acacac;
}

.gray3 {
    background-color: #a1a1a1;
}

.gray4 {
    background-color: #8a8a8a;
}

#worksection > div.box960 > a.bluebtn {
    margin: 62px auto 62px auto;
}

#testimonials {
    height: 500px;
    background: linear-gradient(to right, rgba(9, 5, 47, .95), rgba(49, 29, 94, .9)),
    url("../img/testimonials-bg-1600x500.jpg");
    background-size: cover;
    box-sizing: border-box;
    padding: 40px 0 0 0;
}

#testimonials div.box960 {
    text-align: center;
    padding: 0 90px 0 90px;
    box-sizing: border-box;
}

.box80 {
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

#testimonials p {
    color: white;
    margin-bottom: 0;
}

blockquote:before {
    content: "\201C";
    font-weight: bold;
    font-size: 100px;
    color: white;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}

#testimonials div.member-desc {
    text-align: center;
    padding: 0;
    margin: 50px 0 15px 0;
    border: 0;
}

.peopleimages {
    width: 359px;
    height: 70px;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
    margin-right: 15px;
}

.no-margin {
    margin: 0 0 0 0;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.color-gray {
    color: #c6c4c9;
}

#contactsection {
    width: 100%;
    height: 653px;
    box-sizing: border-box;
}

#contactsection h2 {
    margin-bottom: 35px;
}

#contactright > h2 {
    margin-left: 38px;
}

#contactleft {
    width: 50%;
    height: 582px;
    float: left;
}

input {
    padding: 10px;
    width: 458px;
    border: 1px solid #c6c4c9;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#contactleft > textarea {
    height: 200px;
    width: 458px;
    margin-bottom: 20px;
}

#contactright {
    width: 50%;
    height: 582px;
    float: left;
}

.logo {
    width: 50%;
    height: 80px;
    text-align: center;
    }

#footersection {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, rgba(9, 5, 47, .95), rgba(49, 29, 94, .9)),
    url("../img/footer-bg-1600x400.jpg");
    background-size: cover;
    box-sizing: border-box;
}

#content {
    height: 240px;
}

#footersection > div.box960 > #content > div {
    width: 31%;
    height: 240px;
    padding-right: 20px;
}

div.header > h5 {
    color: white;
}

#footersection .header {
    padding: 16px 0 16px 0;
    margin-bottom: 25px;
}

#footersection > div.box960 > #content > div.left > div.left {
    padding: 0 10px 45px 0;
}

#footersection input {
    width: 210px;
    height: 44px;
}

.transparent-bg {
    background: transparent;
}

#footersection .table {
    margin: 25px 0 0 0;
    text-align: left;
}

#footercontent {
    width: 100%;
    height: 25px;
}

#footercontentleft {
    width: 377px;
    height: 25px;
}

#footercontentleft > div {
    margin-right: 30px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}