/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
    width: 100%;
    height: 100vh;
    /*border: 1px solid #000;*/
}

.box960 {
    width: 960px;
    margin: 0 auto;
    padding: 70px 0 70px 0;
    /*border: 1px solid black;*/
}

#header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#todoSection {
    width: 50%;
    margin: 0 auto;
    background: #b3d4fc;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto;
    /*border: 1px solid black;*/
}

input, textarea, .item {
    padding: 0 5px 0 5px;
    border: 1px solid darkgrey;
}

.noMargin {
    margin: 0 0 0 0;
}

button {
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid darkgrey;
    height: 37px;
}

#addButton {
    width: 100px;
}

#itemTitle {
    font-weight: bold;
    width: 325px;
    height: 35px;
    margin-right: 8px;
}

#itemDescription {
    margin-top: 10px;
    height: 70px;
    width: 437px;
}

.hr {
    display: block;
    margin: 20px auto;
    border-top: 2px solid darkgray;
    width: 40%;
}

.rightItem {
    border-left: 2px solid darkgray;
    /*height: 42px;*/
    width: 25px;
    margin-top: 30px;
    float: right;
    padding: 30px 0 30px 5px;
}

.leftItem {
    width: 404px;
    overflow: auto;
    float: left;
}

.leftItem h2 h4 {
    font-weight: bold;
}

.item {
    min-height: 160px;
    width: 97%;
    margin-top: 5px;
    overflow: auto;
    background: white;
    border-radius: 8px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}